h1 {
    font-family: 'Ubuntu';
    background-color: transparent;
    color: white;
}

body {
    background-color: rgb(60, 60, 61);
}

label {
    font-family: 'Ubuntu';
    color: white;
    size: 2em;
}

input {
    font-family: 'Ubuntu';
    background-color: transparent;
    color: white;
    border: 1px 1px 1px 1px black;
    border-radius: 5px;
    border-style: solid;
    width: 30em;
}

br {
    margin-top: 3em;
}

.content {
    position: absolute;
    left: calc(50% - 15em);
}

button {
    font-size: 1.5em;
    margin-top: 2em;
    position: absolute;
    width: 10em;
    left: calc(50% - 5em);
    background-color: transparent;
    transition: 500ms;
    border: 1px solid rgb(11, 199, 11);
    border-radius: 4px;
    color: rgb(11, 199, 11);
}

button:hover {
    background-color: rgb(11, 199, 11);
    color: black;
}

p {
    position: absolute;
    color: white;
    text-shadow: 0px 0px 5px rgb(146, 146, 146);
    font-size: large;
  }

.delay-hide {
    animation: hide 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

li, ul {
    background-color: transparent;
    color: white;
}

.text {
    color: white;
    background-color: transparent;
}

.group-box {
    left: 25%;
}


/* following colors are for the gradient text */

.r1 {color: #9600ff; text-decoration-color: #9600ff}
.r2 {color: #a524ff; text-decoration-color: #a524ff}
.r3 {color: #b449ff; text-decoration-color: #b449ff; font-weight: bold}
.r4 {color: #c36dff; text-decoration-color: #c36dff}
.r5 {color: #d292ff; text-decoration-color: #d292ff; font-weight: bold}
.r6 {color: #e1b6ff; text-decoration-color: #e1b6ff}
.r7 {color: #f0dbff; text-decoration-color: #f0dbff}
.r8 {color: #ffffff; text-decoration-color: #ffffff}

.ewo-text {
    position: absolute;
    width: 10em;
    left: calc(50% - 30em);
}

span {
    font-size: 2em;
}

.title {
    height: 20em;
    width: 100%;
}