<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWO Messaging</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    {% for msg in get_flashed_messages() %}
    <p class="delay-hide">{{ msg }}</p>
    {% endfor %}
    <div class="title">
        <div class="ewo-text">
            <pre style="font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace">
                <span class="r1">_____________      __________ /\       </span>
                <span class="r2">\_   _____/  \    /  \_____  \</span><span class="r3">)</span><span class="r2">/ ______</span>
                <span class="r4"> |    __</span><span class="r5">)</span><span class="r4">_\   \/\/   //   /\  \ /  ___/</span>
                <span class="r6"> |         \        //    \/   \___ \ </span>
                <span class="r7">/_______  / \__/\  / \_______  /____  &gt;</span>
                <span class="r8">        \/       \/          \/     \/ </span>
            </pre>
        </div>
    </div>
    
    {% block content%} {% endblock %}
</body>
</html>